<% provide(:title, t(".title")) %>
<div class="center jumbotron">

  <h1><%= t(".page_name") %></h1>
  <p>
    <%= t(".content", link_home: link_to(t(".tutorial_href"), "https://www.railstutorial.org/"),
      link_book: link_to(t(".book_href"), "https://www.railstutorial.org/book/"),
      link_screencast: link_to(t(".screencast_href"),"http://screencasts.railstutorial.org/"),
      link_rails: link_to(t(".rails_href"), "http://rubyonrails.org/")).html_safe %>
  </p>
</div>
