<% provide(:title, t(".title")) %>

<h1><%= t(".page_name") %></h1>
<p>
  <%= t(".content", link_help: link_to(t(".help_href"), "https://www.railstutorial.org/help/"),
                    link_book: link_to(t(".book_href"), "https://www.railstutorial.org/book/")
        ).html_safe %>
</p>
