<h1><%= t(".title") %></h1>

<p><%= t(".welcome", name: @user.name) %></p>

<p>
<%= t(".content_mailer") %>
</p>

<%= link_to t(".btn_activate"), edit_account_activation_url(id: @user.activation_token,
  email: @user.email).html_safe %>
