<li>
  <%= gravatar_for user, size: Settings.gravatar.size_list %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t(".btn_delete"), user, method: :delete,
        data: { confirm: t(".confirm_messages", user_name: user.name)} %>
  <% end %>
</li>
